/* header begin */
header {
    width: 100%;
}

#ntop {
    width: 100%;
    height: 40px;
    background: #323534;
}

#ntop .center div:nth-child(1) {
    width: 13%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

#ntop .center div:nth-child(1) a {
    font-size: 14px;
    color: #CCCCCC;
}

#ntop .center div:nth-child(1):hover a {
    color: #fff;
    text-decoration: none;
}

#ntop .center div:nth-child(2) {
    width: 21%;
    height: 40px;
    margin-left: 20px;
    line-height: 40px;
    overflow: hidden;
    font-size: 14px;
    color: #BD9D6F;
}

#ntop .center div:nth-child(2) img {
    padding-right: 10px;
    vertical-align: middle;
}

#ntop .center div:nth-child(3) {
    width: 52%;
    margin-top: 10px;
}

#ntop .center div:nth-child(3) dt {
    border-right: 1px solid #5C5C5C;
    float: left;
    padding-right: 10px;
}

#ntop .center div:nth-child(3) dt a, #ntop .center div:nth-child(3) dd a {
    color: #CCCCCC;
    font-size: 14px;
}

#ntop .center div:nth-child(3) dt a:hover,
#ntop .center div:nth-child(3) dd a:hover {
    color: #fff;
    text-decoration: none;
}

#ntop .center div:nth-child(3) dd {
    float: left;
    border-right: 1px solid #5C5C5C;
    padding: 0 10px;
}

#ntop .center div:nth-child(3) dd:nth-of-type(5) {
    position: relative;
}

#ntop .center div:nth-child(3) dd:nth-of-type(5) span {
    width: 20px;
    height: 20px;
    display: block;
    float: right;
    background: url(../images/xaaa.png) no-repeat left -2896px;
    margin-left: 10px;
}

#ntop .center div:nth-child(3) dd:nth-of-type(5):hover span {
    background: url(../images/xaaa.png) no-repeat left -2877px;
}

#ntop .center div:nth-child(3) dd:nth-of-type(5) .sjiao {
    position: absolute;
    top: 12px;
    left: 50px;
    border: none;
    height: 10px;
    color: #000;
    width: 10px;
    background: url(../images/xaaa.png) no-repeat left -5875px;
    opacity: 0;
    transition: 0.5s;
}

#ntop .center div:nth-child(3) dd:nth-of-type(5) ul {
    height: 120px;
    width: 100px;
    position: absolute;
    top: 30px;
    left: 3px;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 2px #333;
    z-index: 99;
    border-top: none;
    background: #fff;
    opacity: 0;
    transition: 0.5s;
}

#ntop .center div:nth-child(3) dd:nth-of-type(5) ul li {
    color: #CCCCCC;
    text-align: center;
    width: 80px;
    height: 30px;
    border-bottom: 1px solid #CCCCCC;
    font-size: 14px;
    margin-left: 10px;
    line-height: 30px;
}

#ntop .center div:nth-child(3) dd:nth-of-type(5) ul li:nth-child(5) {
    border: none;
}

#ntop .center div:nth-child(3) dd:nth-of-type(5):hover ul,
#ntop .center div:nth-child(3) dd:nth-of-type(5):hover .sjiao {
    opacity: 1;
}

#ntop .center div:nth-child(3) dd:nth-of-type(6) span {
    width: 10px;
    height: 15px;
    background: url(../images/xall.png) no-repeat left 4px;
    display: block;
    float: left;
    margin-right: 5px;
}

#logo {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

#logo .logoo {
    width: 180px;
    height: 65px;
    background: url(../images/xall.png) no-repeat left -148px;
    margin: 50px 0 0 570px;
    float: left;
}

#logo .search {
    width: 330px;
    height: 50px;
    margin: 60px 150px 0 0;
}

#logo .search input {
    width: 250px;
    height: 25px;
    border: none;
    border-bottom: 2px solid #DFCEB6;
    margin: 5px 10px 0 5px;
    float: left;
    font-size: 12px;
}

#logo .search input:focus {
    outline: none;
}

#logo .search div {
    width: 25px;
    height: 30px;
    float: left;
}

#logo .search div:nth-of-type(1) {
    background: url(../images/xall.png) no-repeat left -252px;
    margin-right: 5px;
}

#logo .search div:nth-of-type(2) {
    background: url(../images/xall.png) no-repeat left -72px;
}

/* header end  */

/* nav begin */
nav {
    width: 100%;
    height: 50px;
    position: relative;
    box-shadow: 0 5px 5px #ccc;
}

nav ul {
    width: 80%;
    height: 40px;
    margin: 0 auto;
}

nav ul li {
    padding: 10px 22px 0 22px;
    float: left;
}

nav ul li a {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    padding-bottom: 5px;
}

nav ul li:nth-child(11) {
    border-right: 1px solid #D0CDC7;
}

nav ul li:hover a {
    color: #BD9D6F;
    border-bottom: 2px solid #BD9D6F;
    text-decoration: none;
}

nav ul li .erji {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 100;
    background: #fff;
    display: none;
}

nav ul li .erji ul {
    height: 100px;
    width: 100%;
    background: #fff;
}

nav ul li .erji ul li {
    float: left;
    text-align: center;
    color: #000;
    font-size: 16px;
    width: 140px;
    border: none;
    margin: 0;
    padding: 0;
}

nav ul li .erji ul li img {
    padding-top: 10px;
}

nav ul li .erji ul li p {
    padding-top: 5px;
    width: 140px;
    text-align: center;
}

nav ul li .erji ul li:hover p {
    color: #BD9D6F;
}

nav ul li:hover .erji {
    display: block;
}

/* nav end */


/* main begin */
main{
    width: 100%;
    height: 770px;
    overflow: hidden;
}
#gwj{
    width: 100%;
    height: 38px;
    border:1px solid #EBEBEB;
    margin-top: 20px;
    background: url(../images/gwj.png) no-repeat 0px 2px;
}
#gwj div:nth-child(1){
    float: left;
    margin-left: 50px;
    line-height: 40px;
    color: #363636;
    font-size: 16px;
}

#gwj div:nth-child(2){
    width: 100px;
    height: 20px;
    float: right;
    border:1px solid #F52A37;
    margin-top: 10px;
}
#gwj div:nth-child(2) a{
    color: #F52A37;
    margin-left: 10px;
    line-height: 20px;
}
#gwj div:nth-child(2) a img{
    vertical-align: middle;
}


#gwtit{
    width: 100%;
    height: 48px;
    margin-top: 10px;
    background: #F6F6F6;
    border:1px solid #DDDDDD;

}

#gwtit .input_check{
    position: absolute;
    width: 20px;
    height: 20px;
    visibility: hidden;
    background: #fff;
}
#gwtit span{
    position: relative;
    top: 14px;
    left: 20px; 
    float: left;
}
#gwtit .input_check+label{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../images/ghh.png') no-repeat;
    background-position: left -82px;
}

#gwtit .input_check:checked+label {
    background-position: left -55px;
}

.gwxx{
    float: left;
    margin-left: 20px; 
    line-height: 50px;
    color: #363636;
    font-size: 14px;
}

#mz{
    width: 100%;
    height: 48px;
    background: #FFFCF1;
    border:1px solid #DDDDDD;
    margin-top: 20px;
}
#mz div{
    float: left;
}
#mz div:nth-child(1){
     width: 70px;
     height: 20px;
     background: #F95F39;
     color: #fff;
     text-align: center;
     line-height: 20px;
     margin:15px 0 0 50px;
}
#mz div:nth-child(2){
    width: 210px;
    color: #66667B;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    margin-left: 10px;
}
#mz div:nth-child(3){
    width:70px;
    height: 20px;
    margin:15px 0 0 20px;
    border:1px solid #EC0011;
    color: #EC0011;
    background: #fff;
    text-align: center;
    line-height: 20px;
}
#mz div:nth-child(4){
    line-height: 50px;
    margin-left: 20px;
}
#mz div:nth-child(4) a{
    font-size: 14px;
    color: #4F9ACC;
}
 

#glist{
    width: 100%;
    height: 424px;
    border: 1px solid #DDDDDD;
    margin-top: 20px;
}
.one,.two,.three{
    width: 100%;
    height: 140px;
    border-bottom: 1px dashed #DDDDDD;
}
.three{
     border:none;
     background: #FFFCF1;
}



.input_check{
    position: absolute;
    width: 20px;
    height: 20px;
    visibility: hidden;
    background: #fff;
}
#glist div span{
    position: relative;
    top: 64px;
    left: 20px; 
    float: left;
}
#glist div .input_check+label{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../images/ghh.png') no-repeat;
    background-position: left -82px;
}

#glist div .input_check:checked+label {
    background-position: left -55px;
}
.tp{
     width: 101px;
     height: 101px;
     float: left;
     margin:20px 0 0 30px

}
.tp img{
    width: 101px;
    height: 101px;
    vertical-align: middle;
}

.spxx{
    float: left;
    margin:20px 0 0 10px;
}
.spxx li:nth-child(1){
     color: #363636;
     font-size: 14px;
     margin-bottom: 10px;
}
.spxx li:nth-child(2){
    color: #989898;
    font-size: 14px;
}
.one p:nth-of-type(1){
    float: left;
    margin:20px 0 0 220px;
    color: #363636;
    font-size: 14px;
}


.numr{
    width:196px;
    height:30px;
    float: left;
    margin:20px 0 0 50px;
}
.numr div{
    font-size: 16px;
}
.numr div:nth-child(1),.numr div:nth-child(3){
    width:38px;
    height:30px;
    border:1px solid #DDDDDD;
    float: left;
    text-align: center;
    line-height: 30px;
    color: #D3D3D3;
    font-weight: bold;
}
.numr div:nth-child(1){
    margin-left:20px;
}
.numr div:nth-child(2){
    width:60px;
    height:30px;
    border:1px solid #DDDDDD;
    border-left:none;
    border-right:none;
    float: left;
    text-align: center;
    line-height: 30px;
    color: #939393;
}

.one p:nth-of-type(2){
    color: #f00;
    float: left;
    margin:20px 0 0 50px;
    font-size: 14px;
}
.spx{
    float: left;
    margin:20px 0 0 30px;
}
.spx li:nth-child(1){
     color: #363636;
     font-size: 14px;
     margin-bottom: 10px;
}
.spx li:nth-child(2){
    color: #989898;
    font-size: 14px;
}

.two p:nth-of-type(1){
    float: left;
    margin:20px 0 0 250px;
    color: #363636;
    font-size: 14px;
}
.two p:nth-of-type(2){
    color: #f00;
    float: left;
    margin:20px 0 0 50px;
    font-size: 14px;
}

.three p:nth-of-type(1){
    float: left;
    margin:20px 0 0 100px;
    color: #363636;
    font-size: 14px;
}
.three p:nth-of-type(2){
    color: #f00;
    float: left;
    margin:20px 0 0 50px;
    font-size: 14px;
}

#jsuan{
    width: 100%;
    height: 70px;
    border:1px solid #DDDDDD;
    background: #F6F6F6;
    margin-top: 20px;
}

#jsuan .input_check{
    position: absolute;
    width: 20px;
    height: 20px;
    visibility: hidden;
    background: #fff;
}
#jsuan span{
    position: relative;
    top: 24px;
    left: 20px; 
    float: left;
}
#jsuan .input_check+label{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../images/ghh.png') no-repeat;
    background-position: left -82px;
}

#jsuan .input_check:checked+label {
    background-position: left -55px;
}
#jsuan p:nth-of-type(1),#jsuan p:nth-of-type(4){
    line-height: 70px;
    float: left;
    margin-left: 30px;
    font-size: 14px;
}
#jsuan p:nth-of-type(4){
    line-height: 50px;
    color: #363636;
}
#jsuan p:nth-of-type(2){
    line-height: 70px;
    float: left;
    margin-left: 40px;
    
}
#jsuan p:nth-of-type(2) a{
    font-size: 14px;
    color: #363636;
}
#jsuan p:nth-of-type(3){
    line-height: 70px;
    float: left;
    margin-left: 40px;
    
}
#jsuan p:nth-of-type(3) a{
    font-size: 14px;
    color: #363636;
}
.sphj{
    float: left;
    margin:15px 0 0 110px;
}
.sphj li{
    font-size: 14px;
    
    color: #989898;
}
.kt{
    width: 1px;
    height: 50px;
    background: #DDDDDD;
    float: left;
    margin:10px 0 0 20px;
}

.je{
    float: left;
    margin: 15px 0 0 20px;
}

.je li:nth-child(1){
     font-size: 24px;
     color: #f00;
     font-weight: bold;
}
.je li:nth-child(2){
    color: #f00;
    margin-top: 10px;
}

.zhjs{
    width: 140px;
    height: 70px;
    float: right;
    background:#B99E77;
    line-height: 70px;
    text-align: center;
    
}
.zhjs a{
     color: #fff;
    font-size:20px; 
}

/* main end */

/*footer begin*/
footer {
    width: 100%;
    height: 450px;

}

#ftop {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.left {
    width: 33%;
    height: 190px;
    margin-top: 30px;
    float: left;
}

.left p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #000;
}

.kf {
    margin-left: 55px;;
}

.yh {
    margin-left: 20px;
}

.kf, .yh {
    width: 90px;
    height: 105px;
    border: 1px solid #E8E9E9;
    float: left;
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
}

.kf a, .yh a {
    color: #363636;;
}

.kf .fpho {
    width: 35px;
    height: 35px;
    background: url("../images/footer.png") no-repeat left -228px;
    margin: 20px auto 10px auto;
}

.kf:hover a, .yh:hover a {
    color: #B99E77;
}

.kf:hover .fpho {
    background: url("../images/footer.png") no-repeat left -192px;
}

.yh .fphoa {
    width: 35px;
    height: 35px;
    background: url("../images/footer.png") no-repeat 5px -94px;
    margin: 20px auto 10px auto;
}

.yh:hover .fphoa {
    background: url("../images/footer.png") no-repeat 5px -58px;
}

.middle {
    width: 33%;
    height: 190px;
    border: 1px solid #EAEAEA;
    float: left;
    margin-top: 30px;
    border-style: none solid none solid;
}

.middle h2 {
    font-weight: normal;
    text-align: center;
    color: #000;
}

.middle p {
    width: 85%;
    margin: 25px auto 10px auto;
    color: #363636;
    font-size: 13px;
    line-height: 25px;
}

.gz {
    font-size: 14px;
    color: #363636;
    width: 100%;
    height: 50px;

}

.gz p {
    font-size: 14px;
    color: #363636;
    line-height: 50px;
    float: left;
}

.gzw {
    float: left;
    height: 50px;
    margin-left: 25px;
    font-size: 14px;
    line-height: 50px;
}

.gz span {
    width: 35px;
    height: 35px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.gz span:nth-child(1) {
    background: url("../images/footer.png") no-repeat left -410px;
}

.gz span:nth-child(2) {
    background: url("../images/footer.png") no-repeat left -368px;
}

.gz span:nth-child(3) {
    background: url("../images/footer.png") no-repeat left -265px;
}

.right {
    width: 33%;
    height: 190px;
    margin-top: 30px;
    float: right;
}

.right h2 {
    font-weight: normal;
    text-align: center;
    color: #000
}

.right img {
    margin: 20px auto;
    display: block;
}

#fend {
    width: 100%;
    height: 200px;
    background: #434343;
    overflow: hidden;
    position: relative;
}

.fp {
    width: 100%;
    height: 130px;
    border-bottom: 1px solid #505050;
    overflow: hidden;
}

.fp img {
    display: block;
    margin: 20px auto;
}

.fznav {
    height: 70px;
    width: 100%;
    overflow: hidden;;
}

.fznav ul {
    width: 80%;
    margin: 10px auto;
    height: 20px;
}

.fznav ul li {
    float: left;

}

.fznav ul li a {
    color: #989898;
    padding: 0 15px;
    border-right: 2px solid #989898;
}

.fznav ul li:nth-child(9) a {
    border: none;
}

.fznav p {
    width: 100%;
    text-align: center;
    color: #989898;
}

.jh {
    width: 39px;
    height: 49px;
    position: absolute;
    right: 195px;
    bottom: 10px;
}

/*footer end*/








